
<section class="home-container">
    <!-- name -->
     <h1 class="name">alexandria</h1>

     <div class="content">
        <!-- left side: paragraph & buttons -->
         <div class="text-section">
            <p>
                Full-stack developer and web designer based in Manhattan, crafting dynamic digital experiences through the seamless integration of design and technology. Combining front-end aesthetics with back-end functionality, creating responsive, user-centered applications that engage, inspire, and deliver impact. Focused on building clean, efficient code and visually compelling interfaces that transform ideas into immersive online experiences.
            </p>
            <div class="buttons">
                <button class="btn" (click)="scrollToProjects()">view projects ↓</button>
                <a href="assets/resume.pdf" class="btn" download>view resume</a>
            </div>
         </div>

         <!-- right side: image & socials -->
          <div class="image-section">
            <img src="assets/imgs/profile.jpg" alt="profile view of Alexandria" />
            <div class="social-links">
                
                    <a href="https://github.com/alexandriax" target="_blank" aria-label="GitHub">
                        <img src="assets/imgs/github-white.png" alt="GitHub Icon">
                    </a>
                    <a href="https://linkedin.com/in/alexandriaxhamilton" target="_blank" aria-label="LinkedIn">
                        <img src="assets/imgs/linkedin-white.png" alt="LinkedIn Icon">
                    </a>
                    <a href="mailto:alexandria@example.com" aria-label="twitter">
                        <img src="assets/imgs/twitter-white.png" alt="twitter">
                    </a>
                  
            </div>
          </div>
     </div>

     <!-- scrolling banner -->
      <div class="scrolling-banner">
        <div class="banner-track" #bannerTrack>
        <div class="banner-content">
            <div class="banner-name"><div>alexandria</div> <div>hamilton</div></div>
            <div class="banner-tag"><div>creative full-stack</div> <div>developer & designer</div></div>
            <div class="banner-logo"><img src="assets/imgs/logo.png"></div>
            <div class="banner-name"><div>alexandria</div> <div>hamilton</div></div>
            <div class="banner-tag"><div>creative full-stack</div> <div>developer & designer</div></div>
            <div class="banner-logo"><img src="assets/imgs/logo.png"></div>
            <div class="banner-name"><div>alexandria</div> <div>hamilton</div></div>
            <div class="banner-tag"><div>creative full-stack</div> <div>developer & designer</div></div>
            <div class="banner-logo"><img src="assets/imgs/logo.png"></div>
            <div class="banner-name"><div>alexandria</div> <div>hamilton</div></div>
            <div class="banner-tag"><div>creative full-stack</div> <div>developer & designer</div></div>
            <div class="banner-logo"><img src="assets/imgs/logo.png"></div>
            

        </div>
      </div>
      </div>

      <!-- navigation bottom left -->
       <nav class="navigation">
        <ul>
            <li><a href="#projects">projects</a></li>
            <li><a href="#about">about</a></li>
            <li><a href="#contact">contact</a></li>
        </ul>
       </nav>
    </section>